{% extends 'notes/base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
{% load static %}
<link rel="stylesheet" href="{% static 'notes/css/style.css' %}">
<body style="background-color: #264653;">
  <h1>Create Notes </h1>
  <form id="note-form" method="post">
      {% csrf_token %}
      <div id="containerTitle">
        <label for="title" >Title:</label>
        <input type="text" id="title" name="title" required style="background-color: #fefae0;"> 
      </div>

      <div id="containerText">
        <label for="text">Text:</label>
        <textarea id="text" placeholder="Drag box to expand for more space" name="text" required style="background-color: #fefae0;"></textarea>
      </div>

      <div id="containerButton">
        <button type="button" id="save-note">Save Note 💾</button>
      </div>
  </form>
  
  <div id="response-message"></div>

  <h1>My Notes </h1>
  <div id="notes-container">
      {% for note in serialized_notes %}
          <div class="note" style="background-color: #caf0f8;">
              <h2>{{ note.fields.title }}</h2>
              <p>{{ note.decrypted_text }}</p>
          </div>
      {% empty %}
          <p>No notes found.</p>
      {% endfor %}
  </div>

  <div id="edit-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header" style="background-color: #264653;">
            <h2>Edit Note</h2>
        </div>
        <div class="modal-body" style="background-color: #fefae0;">
            <form id="edit-form">
                <div id="editTitle">
                    <label for="edit-title" style="color: #264653; font-size: x-large;">Title:</label>
                    <input type="text" id="edit-title" placeholder="Title" style=" border: 3px solid #264653; background-color: #fefae0;" >
                </div>
                <div id="editText">
                    <label for="edit-text" style="color: #264653; font-size: x-large;">Text:</label>
                    <textarea id="edit-text" placeholder="Text" style=" border: 3px solid #264653; background-color: #fefae0;"></textarea>
                </div>
                <div class="modal-footer" style="background-color: #264653;">
                <button type="submit" form="edit-form" >Save Note 💾</button>
            </form>
        </div>

        </div>
    </div>
</div>

</body>
  

{% block script %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
     var currentNoteId; 
    function openEditModal(noteId) {
      currentNoteId = noteId;
  // Send an AJAX request to fetch the note data
  $.ajax({
    url: `{% url 'updateNotes' %}?note_id=${noteId}`,
    type: 'GET',
    success: function(response) {
      // Populate the edit form with the note data
      $('#edit-title').val(response.note.fields.title);
      $('#edit-text').val(response.note.fields.text);

      // Show the edit modal
      $('#edit-modal').show();
    },
    error: function(xhr, status, error) {
      console.log("AJAX error");
      console.log("Status:", status);
      console.log("Error:", error);
    }
  });
}
function deleteNote(noteId) {
  if (confirm('Are you sure you want to delete this note?')) {
    $.ajax({
      url: '{% url "deleteNotes" %}',
      type: 'POST',
      data: {
        'note_id': noteId,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      success: function(response) {
        console.log(response);
        // Remove the note from the DOM
        $(`[data-note-id="${noteId}"]`).remove();
      },
      error: function(xhr, status, error) {
        console.log(error);
      }
    });
  }
}

    function displayNotes() {
      $.ajax({
        url: '{% url "displayNotes" %}',
        type: 'GET',
        success: function(response) {
          var notesContainer = $('#notes-container');
          notesContainer.empty();
          if (response.notes.length > 0) {
            var notes = JSON.parse(response.notes);
            for(const n of notes){
              if (n.fields) { // Check if n.fields exists
               var noteElement = $('<div class="note"></div>');
                noteElement.append('<h2>' + (n.fields.title || 'Empty') + '</h2>');
                noteElement.append('<p>' + (n.fields.text || 'Empty') + '</p>');
                noteElement.append(`<button class="edit-btn" data-note-id="${n.pk}">Edit</button>`);
                noteElement.append(`<button class="delete-btn" data-note-id="${n.pk}">Delete</button>`);
                notesContainer.append(noteElement); 
                          }
            }
            $('.edit-btn').click(function() {
            var noteId = $(this).data('note-id');
            console.log(noteId)
            openEditModal(noteId);
            });
          }
           else {
            notesContainer.append('<p>No notes found.</p>');
          }
        },
        error: function(xhr, status, error) {
          console.log("AJAX error");
          console.log("Status:", status);
          console.log("Error:", error);
        }
      });
    }



    $('#edit-form').submit(function(event) {
      console.log('Edit form submit clicked');
      event.preventDefault(); 

  var noteId = currentNoteId
  var updatedTitle = $('#edit-title').val();
  var updatedText = $('#edit-text').val();

  $.ajax({
    url: `{% url 'changeNotes' %}`,
    type: 'POST',
    data: {
      'note_id': noteId,
      'title': updatedTitle,
      'text': updatedText,
      'csrfmiddlewaretoken': '{{ csrf_token }}'  //   CSRF token
    },
    success: function(response) {
    var noteElement = $(`.note[data-note-id="${noteId}"]`);

    // changing the display notwas
    noteElement.find('h2').text(updatedTitle);
    noteElement.find('p').text(updatedText);
      $('#edit-modal').hide();
    },
    error: function(xhr, status, error) {
      console.log("AJAX error");
      console.log("Status:", status);
      console.log("Error:", error);
    }
  });
});



    displayNotes()
    $(document).ready(function() {
      console.log("Document ready");

      $(document).on('click', '.delete-btn', function() {
        var noteId = $(this).data('note-id');
      deleteNote(noteId);
      location.reload()
    });


      
      $('#save-note').click(function() {
        console.log("Button clicked");
        
        var title = $('#title').val();
        var text = $('#text').val();
        var csrfToken = $('[name=csrfmiddlewaretoken]').val();
        
        console.log("Title:", title);
        console.log("Text:", text);
        console.log("CSRF Token:", csrfToken);
        
        $.ajax({
          url: '{% url "createNotes" %}',
          type: 'POST',
          data: {
            'title': title,
            'text': text,
            'csrfmiddlewaretoken': csrfToken
          },
          
          success: function(response) {
            console.log("AJAX success");
            $('#response-message').text('Note created successfully').css('color', 'green');
            $('#note-form')[0].reset();
            location.reload()
          },
          error: function(xhr, status, error) {
            console.log("AJAX error");
            console.log("Status:", status);
            console.log("Error:", error);
            $('#response-message').text('An error occurred: ' + error).css('color', 'red');
          }
        });
      });


    });

    console.log("Script ended");
  </script>
{% endblock %}

{% endblock %}
